/env/
/tim_client.egg-info/
/build/
/dist/
/tim_client/
/.idea/shelf/Uncommitted_changes_before_Update_at_29_09_2021_14_53_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_29_09_2021_14_53__Changes_.xml
/.idea/